<div class="g-col-12 g-col-xl-6 card">
    <div class="card-header">
        <div class="card-title">{{ 'webgriffe_sylius_active_campaign.ui.active_campaign'|trans }}</div>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-12 col-md-6">
                {{ form_row(hookable_metadata.context.form.activeCampaignListId, sylius_test_form_attribute('activeCampaignListId')) }}
            </div>
        </div>
    </div>
</div>
